body {
    height: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

#navbarNav {
    font-size: 20px;
}

.hero {
    background-image: url(../picture/6-p-1080.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}